@import url('https://fonts.googleapis.com/css?family=Great+Vibes|PT+Sans&font-display=swap');

.head {
  height: 100%;
  background: url('../img/head_progressive.jpg') no-repeat bottom center;
  background: url('../img/head.webp') no-repeat bottom center;
  background-size: cover;
  color: rgba(255, 255, 255, .8);
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.4);
}

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-shadow: 1px 1px 2px rgba(0,0,0,.6);
}

.hero .title {
  font-family: 'Great Vibes', Arial, Helvetica, sans-serif, cursive;
  font-size: 8rem;
  font-weight: lighter;
  margin-bottom: 60px;
}

.hero .date {
  margin-top: 60px;
  margin-bottom: 0px;
}

.hero span {
  padding: 10px 25px;
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: lighter;
  text-shadow: 1px 1px 2px rgba(0,0,0,.6);
  letter-spacing: 3px;
  text-transform: uppercase;
  border-color: #fff;
  border-top: 1px solid;
  border-bottom: 1px solid;
}
