@import url('https://fonts.googleapis.com/css?family=Great+Vibes|PT+Sans&font-display=swap');

.head {
  height: 100%;
  background: #0D0e12 url('../img/head_progressive.jpg') no-repeat bottom center;
  background: #0D0e12 url('../img/head.webp') no-repeat bottom center;
  background-size: cover;
  color: rgba(255, 255, 255, .8);
}

.overlay {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.4);
}

.hero {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  text-shadow: 1px 1px 2px rgba(0,0,0,.6);
}

.hero .title {
  font-family: 'Great Vibes', Arial, Helvetica, sans-serif, cursive;
  font-size: 8rem;
  font-weight: lighter;
  margin-bottom: 60px;
}

.hero .date {
  margin-top: 60px;
  margin-bottom: 0px;
}

.hero span {
  padding: 10px 25px;
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  font-weight: lighter;
  text-shadow: 1px 1px 2px rgba(0,0,0,.6);
  letter-spacing: 3px;
  text-transform: uppercase;
  border-color: #fff;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.about {
  height: 100%;
}

.about > div {
  height: 50%;
  color: #fff;
}

.description-placeholder {
  height: 100%;
  width: 50%;
  position: absolute;
}

.description-content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 40px;
}

.description-content::before {
  content: '';
  width: 150px;
  height: 100%;
  position: absolute;
  top: 0;
}

.description-content p {
  letter-spacing: 2px;
  font-family: 'PT Sans', Arial, Helvetica, sans-serif;
}

p.name {
  font-family: 'Great Vibes', Arial, Helvetica, sans-serif, cursive;
  font-size: 3.5rem;
  line-height: 1.3;
  margin-bottom: 20px;
  text-shadow: 1px 1px 2px rgba(53,53,53,.6);
}

p.who {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
}

p.desc {
  line-height: 1.4;
  color: rgba(255, 255, 255, .7)
}

.bride {
  background: #353535;
}

.bride-bg {
  background: url('../img/bride.jpg') no-repeat bottom left;
  background-size: contain;
}

.bride.bride-bg {
  background: #353535 url('../img/bride.jpg') no-repeat bottom left;
  background-size: cover;
}

.bride .description-placeholder {
  right: 0;
}

.bride .description-content {
  padding-left: 0;
  background: rgba(53,53,53,.7);
}

.bride .description-content::before {
  background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(53,53,53,0.7) 90%);
  left: -150px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.groom {
  background: #222;
}

.groom-bg {
  background: url('../img/groom.jpg') no-repeat bottom right;
  background-size: contain;
}

.groom.groom-bg {
  background: #222 url('../img/groom.jpg') no-repeat bottom right;
  background-size: cover;
}

.groom .description-content {
  text-align: right;
  padding-right: 0;
  background: rgba(34,34,34,.7);
}

.groom .description-content::before {
  background: linear-gradient(to left,  rgba(255,255,255,0) 0%,rgba(34,34,34,0.7) 90%);
  right: -150px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.about .container {
  height: 100%;
}

.about > div {
  overflow: hidden;
}
